.lists--container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lists-containerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lists--itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue3);
  border-radius: 0.5rem;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 1rem;
}

.lists--itemContainer i {
  color: var(--blue7);
  font-size: 1rem;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.lists--itemContainer i:hover {
  background-color: var(--blue5);
  color: var(--blue11);
}

.lists--itemContainer:hover {
  background-color: var(--blue4);
}

.lists--titleContainer {
  display: flex;
  gap: 1rem;
}

.lists--addList {
  color: var(--blue1);
  border: none;
  background: linear-gradient(45deg, var(--blue9), var(--pink9));
  background-size: 300%;
  background-position: 80%;
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s all;
  padding: 0rem 1rem;
}

.lists--addList:hover {
  background-size: 125%;
  background-position: 20%;
}

.lists--item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lists--amount {
  background-color: var(--blue9);
  color: var(--blue1);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
}
